<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474621377915-06tbj1l5ss99s1323u9mdptrtmvemt13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474621377915-06tbj1l5ss99s1323u9mdptrtmvemt13</string>
	<key>API_KEY</key>
	<string>AIzaSyCYHMJM4Wn9i_V6eodNWmxJt3E0HNJHkds</string>
	<key>GCM_SENDER_ID</key>
	<string>474621377915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marunama.nine</string>
	<key>PROJECT_ID</key>
	<string>chatwithfirebaseapp-1579a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatwithfirebaseapp-1579a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474621377915:ios:616b53106ad93f2870d1de</string>
</dict>
</plist>